.blog-post-small {
  border-bottom: #008CBA 1px dashed;
  text-align: justify;
  border-bottom: #ccc 1px solid;
  font-size:14px;
  font-family:'Droid Sans';
  padding: 10px;
  p {
    font-size:14px;
  }
  img {
    max-width:100%;
    border: #EEE 4px solid;
    border-radius: 10px;
  }
}
.meta {
    font-family: "Droid Sans";
    font-size: 14px;
    padding: 10px;
}
.navbar {
  margin-bottom: 0px;
}

.jumb-bot {
  background: #eee;
  border-bottom: #ccc 1px solid;
}

.jumb-bot-jumbu {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #eee;
  p {
    padding-top: 13px;
  }
}

.left-syms {
  font-size: 20px;
  li a span {
    font-size: 12.5px;
    display: none;
  }
}

.listgroup-div {
  margin-top: 10px;
}

.blog-post-content {
  font-size: 13px;
}

.footer {
  a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    &:after {
      content: "";
    }
  }
  h4 {
    color: #fff;
  }
}

.recent_posts li {
  display: block;
  color: #fff;
}

.footer {
  background: #222222;
  margin-top: 10px;
  ul {
    margin-left: 0px;
    padding-left: 0px;
    display:block;
    li
    {
      color:#fff;
      display:block;
    }
    li a:hover {
      text-decoration: underline;
    }
  }
}

.end_footer {
  background: #222222;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: #2b2b2b 1px solid;
}

.end_footer p {
  margin-top: 10px;
  font-size: 13px;
  color: #fff;
  text-align: left;
}

.footer-logo {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  .left-syms li a span {
    display: block;
  }
}