          <!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    {% include_array default_asides %}
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="divider"></div>
            <div class="row end_footer">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <p>Copyright &copy; {{site.title}} 2014 . Designed by <a target="_blank" href="http://github.com/pranavrajs">Pranav Raj S</a></p>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
    
    
 