  <div class="col-md-12 navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ root_url }}/">{{ site.title }}</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          {% include custom/navigation.html %}
        </ul>
        {% if site.simple_search %}
          <form class="navbar-form navbar-left" action="{{ site.simple_search }}" method="get">
            <fieldset role="search">
              <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
              <input class="form-control col-lg-8" type="text" name="q" results="0" placeholder="Search"/>
            </fieldset>
          </form>
          {% endif %}
        <ul class="nav navbar-nav navbar-right left-syms">  
          <li><a href="http://github.com/{{site.github_user}}"><i class="fa fa-github"></i> <span>Github</span></a></li>
          <li><a href="http://plus.google.com/{{site.googleplus_user:}}"><i class="fa fa-google-plus-square"></i> <span>Google Plus</span></a></li>
          <li><a href="http://twitter.com/{{site.twitter_user}}"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
          <li><a href="{{site.url}}/{{site.subscribe_rss}}"><i class="fa fa-rss"></i> <span>RSS Feed</span></a></li>
        </ul>
      </div>
    </div>
